@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

*
{
	font-family: "poppins";
}

.all-template-button 
{
  background-color: #c45c5d;
  border-radius: 30px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-button 
{
  background-color: #c45c5d;
  text-align: center;
  display: inline-block;
  width: 120px;
  float: right;
  padding: 1%;
}

.search-button:before {
      content: '';
      position: absolute;
      left: 73%;
      top: 30px;
      border: 20px solid transparent;
      border-right: 30px solid #c45c5d;

    }

.search-icon
{
	width: 24%;

}


.searchbar
{
	border: 7px solid #e5e5e7;
    background-color: #f0f0f0;
    width: 90%;

    input
    {
	    border: 0;
	    padding-left: 20px;
	    color: #a6a8ab;
	    background-color: transparent;
	    padding: 15px;
	    width: 50%;
    }
}
.nav-bar
{
	display:flex;
	display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-evenly;

    a 
    {
    	text-decoration: none;
	    color: black;
	    font-size: 1rem;
    }

    :hover
    {
    	color:maroon
    }
}
.uphold
{
	display: flex;
	width: 100%;
	height: 100vh;
  	align-items: stretch;

	.uphold-content
	{
		width: 35%;
	    height: 100vh;
	    background-image: url(../assets/images/pattern.png);
	    background-size: 250%;
	    background-position: center;
	    background-color: #1e1e1e;
	    
	    .description
	    {
	    	img
		    {
			    vertical-align: middle;
		    }
		    span
		    {
		    	color: white;
			    font-size: 25px;
			    vertical-align: middle;
		    }

	    	h1
		    {
			    font-size: 25px;
			    color: white;
		    }

	    	padding: 30px;
	    	text-align: left;
		    font-size: 22px;
		    color: grey;
		    margin-top: 30%;
	    }

	}

	.uphold-image
	{
		width: 65%;
	    overflow: hidden;
	    position: relative;


		.bg-2
		{
			position: absolute;
		    left: 0;
		    bottom: 15%;
		    width: 100%;
		}
		.bg-3
		{
			position: absolute;
		    left: 0;
		    bottom: 18%;
		    width: 100%;
		}
		.bg-4
		{
			position: absolute;
		    left: 0;
		    bottom: 7%;
		    width: 100%;
		}
		.grass
		{
			position: absolute;
		    left: 0;
		    bottom: 15%;
		    width: 100%;
		}
		.shops
		{
			position: absolute;
		    left: 0;
		    bottom: 15%;
		    width: 100%;
		}
		.lights
		{
			position: absolute;
		    left: 0;
		    bottom: 15%;
		    width: 95%;
		}
	}
}
.steps
{
	h2
	{
		text-align: center;
	    padding: 40px;
	    font-size: 2rem;

	    span
	    {
	    	color: red;
	    }
	}
	.steps-discription-1
	{
		display: flex;

		.images-discription-1
		{
			display: inline-flex;
			
			.card-image
			{
				width: 10em;
    			height: auto;
			}
			
		}
		
	}
	.steps-discription-2
	{
		display: flex;
		flex-direction: row-reverse;

		.images-discription-2
		{
			display: inline-flex;
			
		}
		
	}
	.steps-discription-3
	{
		display: flex;

		.images-discription-3
		{
			display: grid;
			
		}

	}
}
.carousel
{
	display: flex;
	background-color: #272727;
	
	.slider
	{
		width: 100%;
	    align-self: center;
	    margin-left: 15%;
		.dot 
		{
		  	height: 15px;
		  	width: 15px;
		  	margin: 0 2px;
		  	background-color: #bbb;
		  	border-radius: 50%;
		  	display: inline-block;
		}

		.dot.active
		{
			background-color: black;
		}

		.slider-wapper
		{
			width: 35%;

			.carousel-item 
			{
		  		display: none;
		  		.heading
		  		{
			  		color: white;
	    			font-size: 25px;
		  		}
		  		.text
		  		{
		  		    font-size: 18px;
				    height: auto;
				    padding-top: 20px;
				    line-height: 2;
				    color: grey;
				}
			}

			.carousel-item.active 
			{
			  	display: block;
			}
		}
	}
}
.qoutes
{
	.image-quotes
	{
		margin-left: 50%;
	}

	.quote-text
	{
		display: none;
		width: 100%;
	    line-height: 1.8;
	    text-align: center;
	}

	.quote-text.active 
	{
	  	display: block;

	}

	.author
	{
		display: flex;
    	align-items: center;
    	margin-top: 5%;
    	margin-left: 30%;

    	.circle-image
		{
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
	}
}
.footer
{
	display: flex;

	.logo
    {
    	width: 30%;
    	font-size: large;
	}
	.quick-link
	{
		display: flex;
		column-gap: 100px;

	}
}


