.all-template-button
{
	background-color: indianred;
    border-radius: 40px;
    font-size: 1rem;
    border-style: none;
    color: white;
}
.nav-bar
{
	display:flex;
	display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-evenly;

    a 
    {
    	text-decoration: none;
	    color: black;
	    font-size: 1rem;
    }

    :hover
    {
    	color:maroon
    }
}
.uphold
{
	display: flex;
	width: 100%;
	height: 100vh;
  	align-items: stretch;

	.uphold-content
	{
		width: 100%;
	    height: 100vh;
	    background-image: url(../assets/images/pattern.png);
	    background-size: 250%;
	    background-position: center;
	    background-color: #1e1e1e;

	    .logo
	    {
	    	text-align: center;
		    width: 100%;
		    font-size: xx-large;
		    margin-top: 10%;

		    img
		    {
			    vertical-align: middle;
		    }

		    span
		    {
		    	color: white;
			    font-size: 2rem;
			    vertical-align: middle;
		    }
	    }

	    h1
	    {
	    	padding: 30px;
	    	text-align: left;
		    font-size: 1.8rem;
		    color: white;
	    }

	    .description
	    {
	    	padding: 30px;
	    	text-align: left;
		    font-size: 1.6rem;
		    color: light-grey;
	    }

	}

	.uphold-image
	{
		height: 80vh;
	    overflow: hidden;
	    position: relative;


		.bg-2
		{
			position: absolute;
		    left: 0;
		    bottom: 15%;
		    width: 100%;
		}
		.bg-3
		{
			position: absolute;
		    left: 0;
		    bottom: 18%;
		    width: 100%;
		}
		.bg-4
		{
			position: absolute;
		    left: 0;
		    bottom: 15%;
		    width: 100%;
		}
	}
}
.steps
{
	h2
	{
		text-align: center;
	    padding: 40px;
	    font-size: 3rem;

	    span
	    {
	    	color: red;
	    }
	}
	.steps-discription
	{
		display: flex;

		.images
		{
			width: 50%;

			.card-image
			{
			    width: 15%;
    			height: 160vh;
			}
		}

		h2
		{
			align-self: center;
		}
	}
}
.carousel
{
	display: flex;

}
.qoutes
{
	.image-quotes
	{
		margin-left: 50%;
	}

	.author
	{
		display: flex;
    	align-items: center;

    	.circle-image
		{
			background-size: cover;
		    border-radius:50% 50% 50% 50%;
		    width: 10rem;
    		height: 30vh;
		}

		.name
		{
			flex-grow: 1; /* each flex-item grows and takes 1/3 of the parent's width */
		}
		.position
		{
			flex-grow: 1; /* each flex-item grows and takes 1/3 of the parent's width */
		}
	}
}
.footer
{
	display: flex;

	.logo
    {
    	width: 30%;
    	font-size: large;
	}
	.quick-link
	{
		display: flex;
	}
}


