@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "poppins";
}

.all-template-button {
  background-color: indianred;
  border-radius: 40px;
  font-size: 1rem;
  border-style: none;
  color: white;
}

.nav-bar {
  display: flex;
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-evenly;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.nav-bar :hover {
  color: maroon;
}

.uphold {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}
.uphold .uphold-content {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/pattern.png);
  background-size: 250%;
  background-position: center;
  background-color: #1e1e1e;
}
.uphold .uphold-content .logo {
  text-align: center;
  width: 100%;
  font-size: xx-large;
  margin-top: 10%;
}
.uphold .uphold-content .logo img {
  vertical-align: middle;
}
.uphold .uphold-content .logo span {
  color: white;
  font-size: 2rem;
  vertical-align: middle;
}
.uphold .uphold-content h1 {
  padding: 30px;
  text-align: left;
  font-size: 1.8rem;
  color: white;
}
.uphold .uphold-content .description {
  padding: 30px;
  text-align: left;
  font-size: 1.6rem;
  color: grey;
}
.uphold .uphold-image {
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.uphold .uphold-image .bg-2 {
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100%;
}
.uphold .uphold-image .bg-3 {
  position: absolute;
  left: 0;
  bottom: 18%;
  width: 100%;
}
.uphold .uphold-image .bg-4 {
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100%;
}

.steps h2 {
  text-align: center;
  padding: 40px;
  font-size: 2rem;
}
.steps h2 span {
  color: red;
}
.steps .steps-discription-1 {
  display: flex;
}
.steps .steps-discription-1 .images-discription-1 {
  display: inline-flex;
}
.steps .steps-discription-1 .images-discription-1 .card-image {
  width: 10em;
  height: auto;
}
.steps .steps-discription-2 {
  display: flex;
  flex-direction: row-reverse;
}
.steps .steps-discription-2 .images-discription-2 {
  display: inline-flex;
}
.steps .steps-discription-3 {
  display: flex;
}
.steps .steps-discription-3 .images-discription-3 {
  display: grid;
}

.carousel {
  display: flex;
  background-color: #272727;
}
.carousel .slider {
  width: 100%;
  align-self: center;
  margin-left: 15%;
}
.carousel .slider .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.carousel .slider .dot.active {
  background-color: black;
}
.carousel .slider .slider-wapper {
  width: 35%;
}
.carousel .slider .slider-wapper .carousel-item {
  display: none;
}
.carousel .slider .slider-wapper .carousel-item .heading {
  color: white;
  font-size: 25px;
}
.carousel .slider .slider-wapper .carousel-item .text {
  font-size: 18px;
  height: auto;
  padding-top: 20px;
  line-height: 2;
  color: grey;
}
.carousel .slider .slider-wapper .carousel-item.active {
  display: block;
}

.qoutes .image-quotes {
  margin-left: 50%;
}
.qoutes .quote-text {
  display: none;
  width: 100%;
  line-height: 1.8;
  text-align: center;
}
.qoutes .quote-text.active {
  display: block;
}
.qoutes .author {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 30%;
}
.qoutes .author .circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.footer {
  display: flex;
}
.footer .logo {
  width: 30%;
  font-size: large;
}
.footer .quick-link {
  display: flex;
  column-gap: 100px;
}

/*# sourceMappingURL=styles.css.map */
